/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0px 20px;
	@media (max-width: 395px) {
		padding: 0px 10px;
	}
}
.header {
	position: absolute;
	z-index: 3;
	top: 0;
	width: 100%;
	height: 180px;  
}
.header__order {
	padding: 8px 0px 0px 0px;
	position: relative;
	z-index: 3;
	background-color: #333333;
	font-family: Lato;
	font-size: 14px;
	height: 60px;
	color: #ffffff;
}
.order__content {
	position: relative;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 850px) {
		justify-content: center;
	}
}
.order__logo {
	position: absolute;
	z-index: 25;
	top: -40px;
	font-family: Kristi;
   font-size: 60px;
   line-height: 1.02;
   color: #f7f7f7;
	sub {
		position: absolute;
		top: 85%;
		transform: translate(-18px, 0);
	  	font-family: Lato;
	  	font-size: 18px;
	}
	@media (max-width: 850px) {
		top: -5px;
	}
}
.order__items {
	display: flex;
	align-items: center;
}
.details__btn {
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background-color: transparent;
		position: relative;
		display: inline-flex;
		align-items: center;
		img {
			margin: 0px 0px 0px 17px;
		}
	}
.items__img {
	position: relative;
	margin: 0px 72px 0px 0px;
	@media (max-width: 395px) {
   	margin: 0px 36px 0px 0px;
   }
	span {
		position: absolute;
		right: -6px;
		top: -5px;
		z-index: 2;
	   font-size: 16px;
	   line-height: 0.8;
	   color: #ffffff;
		&:after {
			z-index: -1;
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #ff4200;
			left: -55%;
			transform: translate(0%, -15%);

		}
	}
}
.order__total {
	margin: 0px 55px 0px 0px;
	font-weight: bold;
	line-height: 2.57;
   letter-spacing: normal;
   @media (max-width: 395px) {
   	margin: 0px 25px 0px 0px;
   }
}
.order__price {
	margin: 0px 0px 0px 20px;
	font-weight: normal;
	font-size: 18px;
}
.order__details {
	position: relative;
}

.wrapper__details {
	display: none;
	width: 780px;
	height: auto;
	margin: 21.5px 0px 0px 0px;
	padding: 18px 27px 21px 98px;
	position: absolute;
	right: 0;
	background-color: #f4f4f4;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.22), 0px 24px 24px 0 rgba(0, 0, 0, 0.3);
}
.details--active {
	display: flex;
	flex-direction: column;
	@media (max-width: 850px) {
		width: auto;
		padding: 18px 50px 21px 27px;
	}
}
.close {
	position: absolute;
	top: 30px;
	right: 25px;
	background-color: transparent;
	&:hover {
		transform: rotate(70deg);
		transition: all 1.0s ease 0s;
	}
}
.details__menu {
	@media (max-width: 850px) {
		display: flex;
		margin: 35px 0px 0px 0px;
	}
}
.items {
	display: flex;
	flex-direction: column;
	@media (max-width: 850px) {
		flex-direction: row;
	}
}
.details__item {
	@media (max-width: 850px) {
		display: flex;
		flex-direction: column;
	}
}
.checkout {
	width: 140px;
   height: 42px;
   border-radius: 21px;
   background-color: #ff4200;
   font-family: Lato;
   font-size: 17.5px;
   font-weight: 900;
   font-style: normal;
   line-height: 2.11;
   text-transform: uppercase;
   transition: all 0.8s ease 0s;
   &:hover {
   	background-color: #fff;
   	color: #ff4200;
   	border: 1px solid #ff4200;
   }
   color: #ffffff;
}
.ing {
	font-family: Lato;
   font-size: 12px;
   line-height: 2.79;
   color: #ff4200;
}
.first--ing {
	margin: 0px 41px 0px 0px;
	@media (max-width: 850px) {
  			margin: 0px 0px 10px 0px;
  		}
}
.second--ing {
	margin: 0px 37px 0px 0px;
	@media (max-width: 850px) {
  			margin: 0px 0px 10px 0px;
  		}
}
.third--ing {
	margin: 0px 37px 0px 0px;
	@media (max-width: 850px) {
  			margin: 0px 0px 10px 0px;
  		}
}
.fourth--ing {
	margin: 0px 40px 0px 0px;
	@media (max-width: 850px) {
  			margin: 0px 0px 10px 0px;
  		}
}
.weight {
	margin: 0px 82px 0px 0px;
  	font-size: 17.5px;
  	line-height: 1.91;
  	color: #333333;
  	@media (max-width: 850px) {
  			margin: 0px 0px 0px 0px;
  			font-size: 14px;
  		}
}
.price {
	margin: 0px 44px 0px 0px;
	font-size: 17.5px;
	line-height: 1.91;
	color: #333333;
	@media (max-width: 850px) {
  			margin: 0px 0px 0px 0px;
  			font-size: 14px;
  		}
}
.delete {
	width: 30px;
  	height: 31px;
  	background: transparent;
  	@media (max-width: 850px) {
  		margin: 15px 0px 0px 0px;
  	}
  	.delete__image {
  		width: 100%;
  		height: 100%;
  	}
}
.total__checkout {
	display: flex;
	justify-content: flex-end;
	margin: 0px 53px 0px 0px;
	@media (max-width: 850px) {
		margin: 0px 0px 0px 0px;
		flex-direction: column;
		align-items: flex-end;
	}
}
.checkout__total {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: Lato;
   font-size: 17.5px;
   font-weight: bold;
   line-height: 1.91;
   color: #333333;
   margin: 0px 45px 0px 0px;
   @media (max-width: 850px) {
   	display: flex;
   	margin: 0px 8px 0px 0px;
   }
}
.checkout__price {
	font-size: 24px;
  	font-weight: normal;
  	margin: 0px 0px 0px 14px;
  	@media (max-width: 850px) {
  		margin: 0px 0px 0px 0px;
  	}
}
.menu__icons {
	align-self: center;
	@media (max-width: 850px) {
		margin: 0px 0px 100px 0px;
	}
}
.icons__ingredient {
	margin: 0px 0px 15px 64px;
	@media (max-width: 850px) {
		margin: 0px 0px 0px 0px;
	}
	img {
		margin: 0px 24px 0px 0px;
		width: 34px;
  		height: 35px;
  		@media (max-width: 850px) {
  			margin: 10px 10px 0px 0px;
  		}
	}
}
.details__item {
	display: flex;
	align-items: center;
	margin: 0px 0px 20px 0px;
	position: relative;
	@media (max-width: 850px) {
		flex-direction: column;
		margin: 0px 0px 20px 0px;
		padding: 5px;
		border-right: 1px solid rgba(51, 51, 51, 0.1);
		&:last-child {
			border-right: none;
		}
	}
	&:after {
		bottom: 2px;
		position: absolute;
		margin: 0px 0px 0px 59px;
		content: '';
		display: block;
		width: 457px;
	   height: 2px;
	   opacity: 0.1;
	   border-radius: 0.9px;
	   background-color: #333333;
	   @media (max-width: 850px) {
	   	display: none;
		}
	}
	img {
		margin: 0px 48px 0px 0px;
		width: 24px;
  		height: 24px;
  		@media (max-width: 850px) {
  			margin: 0px 0px 15px 0px;
  		}
	}
}
.header__row {
	position: relative;
	height: 120px;
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px 0 rgba(0, 0, 0, 0.24);
   background-color: rgba(51, 51, 51, 0.56);
   @media (max-width: 850px) {
   	height: 70px;
   	padding: 0px 0px 0px 0px;
   }
}
.header__menu {
}
.menu {}
.menu__icon {}
.icon-menu {
	display: none;
	@media (max-width: 850px) {
		display: block;
		position: absolute;
		top: 25px;
		right: 20px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 501;
		@media (max-width: 500px) {
			right: 5%;
		}
		span {
			top: 8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				bottom: 0px;
				top: auto;
			}
		}
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: 8px;
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: 8px;
					}
				}
			}
	}	
}
.menu__body {
	padding: 51px 0px 54px 0px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	@media (max-width: 850px) {
		display: block;
		z-index: 500;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(51, 51, 51, 1);
		transform: translate(0px, -100%);
		transition: 0.8s ease 0s;
		&.active {
			transform: translate(0px, 0px);
		}
	}
}
.menu__list {
	display: flex;
	li {
		margin: 0px 80px 0px 0px;
		&:last-child {
   		margin: 0px 0px 0px 0px;
   	}
	}
	@media (max-width: 850px) {
		position: relative;
		top: 50%;
		transform: translate(0, -40%);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		li {
			margin: 0px 0px 50px 0px;
		}
	}
}
.menu__link {
	font-family: Fredoka One;
   font-size: 18px;
   color: #f7f7f7;
   position: relative;
   
   @media (max-width: 850px) {
   	font-size: 30px;
   }
   &:hover {
   	&:after {
	   	content: '';
	   	position: absolute;
	   	height: 4px;
	  		background-color: #ff4200;
	  		display: block;
	  		width: 114px;
	  		text-align: center;
	  		left: 50%;
	  		transform: translate(-50%, 0);
	  		margin-top: 15px;
  		}
   }
   
}

.tastes {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 310px 0px 180px 0px;
	background: url('../img/tastes/tastes_bg.png') top center no-repeat;
	background-size: cover;
  	background-color: #ffffff;
	.tastes__block {
		display: flex;
		position: relative;
		&:after {
			z-index: 1;
			position: absolute;
			content: '';
			width: 870px;
			height: 360px;
		   opacity: 0.87;
		   background-color: #83aa75;
		   left: 0;
		   transform: translate(-58%, -30px);
		   @media (max-width: 767px) {
		   	height: 320px;
		   }
		}
	}
	.block__text {
		z-index: 2;
		font-family: Lato;
		text-align: right;
		align-self: flex-end;
		font-size: 18px;
	   line-height: 1.56;
	   color: #ffffff;
	   margin: 0px 20px 0px 0px;
	   @media (max-width: 767px) {
	   	font-size: 14px;
	   	margin: 0px 10px 0px 0px;
	   }
	}
	.block__line {
		z-index: 2;
		width: 2px;
		height: 267px;
		background-color: #f4f4f4;
		margin: 0px 17px 0px 0px;
		@media (max-width: 767px) {
	   	height: 250px;
	   	margin: 0px 10px 0px 0px;
	   }
	}
	.block__title {
		z-index: 2;
		font-family: Fredoka One;
	   font-size: 48px;
	   line-height: 1.25;
	   letter-spacing: 2.4px;
	   color: #f7f7f7;
	   text-transform: uppercase;
	   @media (max-width: 767px) {
	   	font-size: 30px;
	   }
	}
	.block__btn {
		display: flex;
		justify-content: flex-end;
		@media (max-width: 767px) {
			justify-content: center;
		}
	}
	.tastes__btn {
		margin: 85px 0px 0px 0px;
		text-transform: uppercase;
		font-family: Fredoka One;
	   font-size: 36px;
	   line-height: 1.11;
	   color: #ffffff;
	   width: 260px;
	   height: 80px;
	   border-radius: 40px;
	   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0px 6px 6px 0 rgba(0, 0, 0, 0.24);
		background-color: #ff4200;
		@media (max-width: 767px) {
			font-size: 25px;
			width: 200px;
	   	height: 70px;
		}
	}
}

.about {
	z-index: 1;
	padding: 80px 0px 55px 0px;
	background: url('../img/about/about_bg.png') top center no-repeat;
	background-size: cover;
	position: relative;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 4px 4px 0 rgba(0, 0, 0, 0.24);
	width: 100%;
	&:after {
		content: '';
		z-index: 1;
		display: block; 
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.85;
 	 	background: rgb(255, 255, 255);
	}
	.about__block {
		z-index: 3;
		position: relative;
		margin: 0px 0px 128px 0px;
		&:after {
			content:'';
			position: absolute;
			width: 1270px;
		   height: 360px;
		   opacity: 0.74;
		   background-color: #d7bfbf;
		   top: 27.5%;
		   transform: translate( 160px, 0);
		   @media (max-width: 850px) {
		   	width: 1400px;
		   	height: 450px;
		   	transform: translate( -60px, 0);
		   }
		   @media (max-width: 500px) {
		   	height: 380px;
		   }
		   @media (max-width: 450px) {
		   	height: 470px;
		   }
		   @media (max-width: 350px) {
		   	height: 500px;
		   }
		}
	}
	.block__title {
		z-index: 10;
		position: relative;
		margin: 0px 0px 101px 0px;
		text-align: right;
		font-family: Fredoka One;
	   font-size: 48px;
	   line-height: 1.25;
	   letter-spacing: 9.6px;
	   color: #666666;
	   text-transform: uppercase;

	   @media (max-width: 850px) {
	   	text-align: center;
	   	margin: 0px 0px 180px 0px;
	   }
	   @media (max-width: 767px) {
	   	font-size: 30px;
	   	letter-spacing: 1.6px;
	   }

	}
	.block__text {
		position: relative;
		z-index: 2;
		padding: 0px 80px 0px 240px;
		text-indent: 30px;
		text-align: justify;
		font-family: Lato;
	   font-size: 18px;
	   line-height: 1.56;
	   letter-spacing: 0.36px;
	   color: #333333;
	   margin: 0px 0px 50px 0px;
	   @media (max-width: 767px) {
	   	text-align: justify;
	   	padding: 0px 0px 0px 00px;
	   	font-size: 14px;
	   }

	}
	.block__logo {
		position: relative;
		z-index: 2;
		text-align: right;
		font-family: Kristi;
	   font-size: 72px;
	   line-height: 0.85;
	   color: #333333;
	   @media (max-width: 767px) {
	   	font-size: 55px;
	   }
	}
	.block__image {
		position: absolute;
		top: 12px;
		left: 0;
		width: 380px;
  		height: 380px;
  		@media (max-width: 850px) {
	   	top: 100px;
	   }
	   @media (max-width: 575px) {
	   	top: 60px;
	   	left: 50%;
	   	transform: translate(-50%, 0);
	   }
  		img {
  			width: 100%;
  			height: 100%;
  		}
	}
	.about__constructor {
		position: relative;
		z-index: 3;
	}
	.constructor__title {
		text-align: center;
		font-family: Fredoka One;
	   font-size: 48px;
	   line-height: 1.25;
	   letter-spacing: 9.6px;
	   color: #333333;
	   text-transform: uppercase;
	   margin: 0px 0px 86px 0px;
	    @media (max-width: 767px) {
	   	font-size: 30px;
	   	letter-spacing: 1.6px;
	   }
	}
	.constructor__value {
		padding: 0px 159px 0px 0px;
		text-align: right;
		font-family: Lato;
	   font-size: 24px;
	   font-weight: bold;
	   line-height: 1.5;
	   color: #333333;
	   margin: 0px 0px 22px 0px;
	   @media (max-width: 800px) {
	   	text-align: center;
	   	padding: 0px 0px 0px 0px;
	   }
	   @media (max-width: 767px) {
	   	font-size: 18px;
	   }

	}
	.constructor__price {
		font-size: 30px;
  		font-weight: normal;
  		margin: 0px 0px 0px 25px;
  		@media (max-width: 767px) {
  			font-size: 24px;
  		}
	}
	.constructor__range {
		display: flex;
		align-items: center;
		margin: 0px 0px 19px 0px;
		@media (max-width: 992px) {
			flex-direction: column;
			margin: 0px 0px 59px 0px;
		}
	}
	.range__image {
		margin: 0px 100px 0px 0px;
		width: 60px;
  		height: 61px;
  		@media (max-width: 992px) {
			margin: 0px 0px 50px 0px;
		}
  		img {
  			width: 100%;
  			height: 100%;
  		}
	}
	.range__slider--first {
		margin: 0px 101px 0px 0px;
		width: 620px;
	   height: 4px;
	   border-radius: 2px;	  
	   -webkit-appearance: none;  
	   appearance: none;   
	   outline: none; 
	   -webkit-transition: .2s;
	   transition: opacity .2s;
	   background: #00a651;
	   @media (max-width: 992px) {
	   	margin: 0px 0px 30px 0px;
	   	width: 90%;
	   }
	}
	.range__slider--first::-webkit-slider-thumb {
		-webkit-appearance: none;
  		appearance: none;
  		border-radius: 50%;
  		width: 40px;
  		height: 40px; 
  		background-color: #fff; 
  		cursor: pointer; 
  		border: solid 2px #00a651;
	}
	.range__slider--second {
		margin: 0px 101px 0px 0px;
		width: 620px;
	   height: 4px;
	   border-radius: 2px;	  
	   -webkit-appearance: none;  
	   appearance: none;   
	   outline: none; 
	   -webkit-transition: .2s;
	   transition: opacity .2s;
	   background: #49743f;
	   @media (max-width: 992px) {
	   	margin: 0px 0px 30px 0px;
	   	width: 90%;
	   }
	}
	.range__slider--second::-webkit-slider-thumb {
		-webkit-appearance: none;
  		appearance: none;
  		border-radius: 50%;
  		width: 40px;
  		height: 40px; 
  		background-color: #fff; 
  		cursor: pointer; 
  		border: solid 2px #49743f;
	}
	.range__slider--third {
		margin: 0px 101px 0px 0px;
		width: 620px;
	   height: 4px;
	   border-radius: 2px;	  
	   -webkit-appearance: none;  
	   appearance: none;   
	   outline: none; 
	   -webkit-transition: .2s;
	   transition: opacity .2s;
	   background: #aba000;
	   @media (max-width: 992px) {
	   	margin: 0px 0px 30px 0px;
	   	width: 90%;
	   }
	}
	.range__slider--third::-webkit-slider-thumb {
		-webkit-appearance: none;
  		appearance: none;
  		border-radius: 50%;
  		width: 40px;
  		height: 40px; 
  		background-color: #fff; 
  		cursor: pointer; 
  		border: solid 2px #aba000;
	}
	.range__slider--fourth {
		margin: 0px 101px 0px 0px;
		width: 620px;
	   height: 4px;
	   border-radius: 2px;	  
	   -webkit-appearance: none;  
	   appearance: none;   
	   outline: none; 
	   -webkit-transition: .2s;
	   transition: opacity .2s;
	   background: #333333;
	   opacity: 0.5;
	   @media (max-width: 992px) {
	   	margin: 0px 0px 30px 0px;
	   	width: 90%;
	   }
	}
	.range__slider--fourth::-webkit-slider-thumb {
		-webkit-appearance: none;
  		appearance: none;
  		border-radius: 50%;
  		width: 40px;
  		height: 40px; 
  		background-color: #fff; 
  		cursor: pointer; 
  		border: solid 2px #333333;
	}
	p {
		font-family: Lato;
	   font-size: 30px;
	   line-height: 1.2;
	   color: #333333;
	}
	.range__text {
		font-family: Lato;
	   font-size: 30px;
	   line-height: 1.2;
	   color: #333333;
	}
	.constructor__pacage {
		display: flex;
		@media (max-width: 600px) {
			flex-direction: column;
			align-items: center;
			margin: 0px 0px 30px 0px;
		}
	}
	.pacage__image {
		margin: 0px 100px 0px 0px;
		width: 59px;
  		height: 59px;
  		@media (max-width: 600px) {
			margin: 0px 0px 30px 0px;
		}
  		img {
  			width: 100%;
  			height: 100%;
  		}
	}
	.pacage__btn {
		position: relative;
	}
	.menu__btn {
		width: 400px;
	   height: 60px;
	   border-radius: 30px;
	   border: solid 1px #ff4200;
	   background-color: transparent;
	   font-family: Fredoka One;
  		font-size: 24px;
  		line-height: 1.67;
  		color: #ff4200;
  		text-transform: uppercase;
  		position: relative;
  		@media (max-width: 600px) {
  			width: 100%;
  			padding: 3% 70px;
	   	height: 100%;
	   	border-radius: 50px;  		}
  		&:after {
  			position: absolute;
  			content: url('../img/about/fa-angle-down.svg');
  			margin: 0px 0px 0px 25px;
  		}
	}
	.pacage__menu {
		display: none;
		padding: 0px 76px;
		text-align: center;
		margin: 10px 0px 0px 0px;
		border: solid 1px #ff4200;
		border-radius: 30px;
		background-color: rgb(244, 244, 244);
		opacity: 0.949;
		position: absolute;
		width: 400px;
		z-index: 155;
		@media (max-width: 600px) {
  			width: 100%;
	   	border-radius: 50px;
  		}
		li {
			cursor: pointer;
			position: relative;
			padding: 20px 0px 20px 0px;
			&:nth-child(2) {
				border-top: 2px solid rgba(255, 66, 0, .5);
				border-bottom: 2px solid rgba(255, 66, 0, .5);
			}
			&:hover {
	  			background-color: #ccc;
	 		 }
		}
	}
	.pacage__active {
		display: block;
	}
	.menu__item {
	  font-size: 24px;
	  font-family: Lato;
	  font-weight: bold;
	  text-transform: uppercase;
	  a {
	     color: rgb(255, 66, 0);
	  }
	  
	}
	.cart {
		text-align: right;
		padding: 0px 15px 10px 0px;
		position: relative;
		overflow: hidden;
	}
	.pacage__cartoval {
		 width: 220px;
       height: 60px;
   	 border-radius: 30px;
   	 box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0px 6px 6px 0 rgba(0, 0, 0, 0.24);
		 background-color: #ff4200;
		 color: #fff;
		 font-family: Fredoka One;
		 text-transform: uppercase;
		 font-size: 24px;
 		 line-height: 1.67;
 		 transform: translate(150%, 0);
 		 transition: all 0.5s ease 0s;
	}
	.cartoval__active {
		transform: translate(0, 0);
		position: absolute;
		bottom: 10px;
		right: 15px;
		z-index: 3;
	}
	.pacage__cart {
		position: relative;
		z-index: 2;
		margin: 10px 0px 0px 0px;
		width: 60px;
	   height: 60px;
	   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0px 6px 6px 0 rgba(0, 0, 0, 0.24);
	   background-color: #ff4200;
	   border-radius: 50%;
	   font-size: 24px;
	   font-weight: bold;
	   color: #fff;
	}
}

.footer {
	padding: 50px 0px 490px 0px;
	background: url('../img/footer/footer_bg.png') top center no-repeat;
	background-size: cover;
	.footer__block {
		display: flex;
		justify-content: space-between;
		@media(max-width: 767px) {
			flex-wrap: wrap;
			justify-content: start;
		}
	}
	.phone__items {
		display: flex;
		align-items: center;
		margin: 0px 0px 36px 0px;
			img {
				margin: 0px 20px 0px 0px;
			}
		}
	.block__phone {
		@media(max-width: 767px) {
			margin: 0px 50px 25px 0px;
		}
		@media(max-width: 495px) {
			margin: 0px 20% 50px 0px;
		}

	}
	.phone__title {

	}
	.block__title {
	   font-family: Fredoka One;
	   font-size: 16px;
	   letter-spacing: 0.8px;
	   color: #ffffff;
	   text-transform: uppercase;
	}
	.phone__number {
		margin: 0px 0px 0px 50px;
		font-family: Lato;
	   font-size: 14px;
	   line-height: 1.79;
	   letter-spacing: 0.7px;
	   color: #ffffff;
	}
	.block__location {
		@media(max-width: 767px) {
			margin: 0px 50px 25px 0px;
		}
		@media(max-width: 495px) {
			margin: 0px 20% 50px 0px;
		}
	}
	.location__text {
		margin: 0px 0px 0px 40px;
		font-family: Lato;
	   font-size: 14px;
	   line-height: 1.79;
	   letter-spacing: 0.28px;
	   color: #ffffff;
	}
	.block__social {}
	.social__list {
		margin: 0px 0px 0px 50px;
		@media(max-width: 767px) {
			margin: 0px 0px 0px 0px;
		}
	}
	.list__item {
		display: flex;
		align-items: center;
		font-family: Lato;
	   font-size: 14px;
	   line-height: 1.79;
	   letter-spacing: 0.7px;
	   color: #ffffff;
	   margin: 0px 0px 24px 0px;
	   .item__image {
	   	width: 50px;
		   height: 50px;
		   border: solid 1px #f4f4f4;
		   background-color: transparent;
		   border-radius: 50%;
		   position: relative;
		   margin: 0px 15px 0px 0px;
	   }
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


